article .wl_container {
  width: 100%;
}
/*-----------------------------------------------------------------------------
 8.9 Nuno Carousel
 ----------------------------------------------------------------------------*/
.owl-carousel-container .owl-custom-pagination.navigation {
  margin-top: 0;
}
.owl-carousel-container .owl-custom-pagination.navigation .btn-owl {
  background: #2e96db;
  border: 3px solid #2e96db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: #ffffff;
}
@media (max-width: 480px) {
  .owl-carousel-container .owl-custom-pagination.navigation .btn-owl.prev {
    left: 0px;
  }
  .owl-carousel-container .owl-custom-pagination.navigation .btn-owl.next {
    right: 0px;
    left: unset;
  }
}
.owl-carousel-container .owl-custom-pagination.navigation .btn-owl:hover,
.owl-carousel-container .owl-custom-pagination.navigation .btn-owl:focus {
  border-color: #fde428;
  color: #2e96db;
  background: #ffffff;
}
.module-iconboxes .box-heading {
  font-size: 1.68179rem;
}
.el-timeline:before {
  left: 35%;
  display: none;
}
.el-timeline .year {
  left: 35%;
  margin-bottom: 65px;
}
.el-timeline .year:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 100%;
  height: 72px;
  width: 1px;
  background: #f3f3f3;
  border-radius: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.el-timeline .single-timeline-item {
  padding-left: 35%;
  padding-bottom: 130px;
}
.el-timeline .single-timeline-item:after {
  content: '';
  position: absolute;
  left: 35%;
  top: 35px;
  bottom: -5px;
  width: 1px;
  background: #f3f3f3;
  border-radius: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.el-timeline .single-timeline-item:last-child:after {
  display: none;
}
.el-timeline .single-timeline-item .thumb {
  right: 65%;
  margin-right: 40px;
}
.el-timeline .single-timeline-item .thumb:before {
  display: none;
}
.el-timeline .single-timeline-item .thumb:after {
  width: 21px;
  height: 21px;
  border: solid 6px #ffffff;
  background: #fde428;
  top: 0;
  right: -40px;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  -o-transform: translateX(50%);
  transform: translateX(50%);
}
.el-timeline .single-timeline-item .text-holder {
  margin-left: 40px;
  margin-bottom: 0;
  padding: 0;
  border: none;
}
.el-timeline .single-timeline-item .text-holder .date {
  font-size: 5.6rem;
  font-weight: 700;
  color: #fde741;
  letter-spacing: -0.04em;
  margin-top: -15px;
  line-height: normal;
  margin-bottom: 0;
}
.el-timeline .single-timeline-item .text-holder > h3 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .el-timeline .single-timeline-item:after {
    left: 0;
    top: 0;
  }
  .el-timeline .single-timeline-item:last-child:after {
    display: block;
  }
  .el-timeline .single-timeline-item.leaf-position-left,
  .el-timeline .single-timeline-item.leaf-position-right {
    padding-left: 50px;
  }
  .el-timeline .single-timeline-item .thumb {
    padding-left: 0;
    margin-right: 0;
  }
  .el-timeline .single-timeline-item .thumb:after {
    left: -71px;
    right: unset;
    top: -11px;
  }
  .el-timeline .single-timeline-item .thumb .box {
    padding: 0;
  }
  .el-timeline .single-timeline-item .text-holder {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 50px;
  }
}
.responsive_tab .panel.panel-default {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #f3f3f3;
}
.responsive_tab .panel.panel-default .panel-heading {
  color: #ffffff;
  background-color: #2e96db;
  border: 0;
}
.responsive_tab .panel.panel-default .panel-heading.openedup {
  background: #f3f3f3;
}
.responsive_tab .panel.panel-default .panel-heading.openedup,
.responsive_tab .panel.panel-default .panel-heading.openedup a:focus {
  color: #2e96db;
}
.responsive_tab.chain-left .panel-title a {
  padding-left: 40px;
}
.responsive_tab.chain-left .panel-title a:before {
  left: 20px;
}
.responsive_tab.chain-right .panel-title a {
  padding-right: 40px;
}
.responsive_tab.chain-right .panel-title a:before {
  right: 20px;
}
.responsive_tab .panel-heading {
  padding: 0;
}
.responsive_tab .panel-title a {
  padding: 13px 20px;
  display: block;
  position: relative;
}
.responsive_tab .panel-title .accordion-toggle[aria-expanded=true] {
  font-weight: bold;
}
.responsive_tab .panel-group .panel-body,
.responsive_tab .tab-content {
  padding: 15px 20px;
}
.responsive_tab .tab-content {
  background: #f3f3f3;
  overflow: auto;
}
.responsive_tab .nav-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
}
.responsive_tab .nav-tabs > li {
  max-width: 25%;
}
.responsive_tab .nav-tabs > li a {
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  height: 100%;
  background: #2e96db;
}
.responsive_tab .nav-tabs > li a:hover,
.responsive_tab .nav-tabs > li a:focus {
  color: #fde428;
  background: #2e96db;
}
.responsive_tab .nav-tabs > li.active a {
  background: #f3f3f3;
  color: #2e96db;
}
.responsive_tab.style-faq .panel-title a {
  padding: 13px 1.5em 13px 0;
}
.responsive_tab.style-faq .panel-title a:before {
  content: '\f0fe';
  font-family: FontAwesome;
  right: 0;
  position: absolute;
}
.responsive_tab.style-faq.chain-right .panel-title a:before {
  right: 0;
}
.responsive_tab.style-faq.chain-left .panel-title a {
  padding-left: 1.5em;
  padding-right: 0;
}
.responsive_tab.style-faq.chain-left .panel-title a:before {
  left: 0;
}
.responsive_tab.style-faq .panel {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background: transparent;
}
.responsive_tab.style-faq .panel .panel-body {
  padding: 0;
}
.responsive_tab.style-faq .panel.panel-default .panel-heading {
  background: transparent;
  color: #4f4f4f;
}
.responsive_tab.style-faq .panel.panel-default .panel-heading.openedup .panel-title a:before {
  content: '\f146';
}
.responsive_tab.style-faq .panel.panel-default .panel-heading a:hover {
  color: #2e96db;
}
.el_progress_bar {
  margin-top: 30px;
}
.el_progress_bar .progress-bar-label {
  color: #fde428;
  font-weight: normal;
  font-size: 11px;
  text-transform: uppercase;
}
.el_progress_bar .progress-bar-outer {
  margin-top: 0;
  height: 4px;
  background: #f3f3f3;
  border-radius: 30px;
}
.el_progress_bar .progress-bar-outer .progress-bar-value {
  color: #4f4f4f;
  font-size: 12px;
  bottom: 6px;
  top: unset;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.el_progress_bar .progress-bar-outer .progress-bar {
  background: #2e96db;
  position: relative;
}
.el_progress_bar .progress-bar-outer .progress-bar-unit {
  color: #4f4f4f;
  font-size: 12px;
  position: absolute;
  left: calc(100% + 5px);
  bottom: 5px;
  right: unset;
}
.team_custom.style-circle .profile figure .top-image:before {
  border-radius: 50%;
}
.team_custom .phone {
  margin-top: 35px;
  clear: both;
  position: relative;
  padding-left: 40px;
  font-size: 18px;
}
.team_custom .phone > span {
  margin-left: -40px;
  font-size: 30px;
  color: #2e96db;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.team_custom hr {
  border-top: 1px solid #fdea5b;
  position: relative;
  width: 100%;
}
.team_custom hr:after {
  content: '';
  display: block;
  width: 50%;
  border-top: 2px solid #2e96db;
  position: absolute;
  left: 0;
  top: 0;
}
.team_custom .profile figure .top-image {
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
.team_custom .profile figure .top-image img {
  margin: 0 auto;
}
.team_custom .profile figure .top-image:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fde428;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  opacity: 0;
}
.team_custom .profile .profile-scocial {
  margin: 0;
  text-align: left;
  width: 100%;
}
.team_custom .profile .profile-scocial a {
  border-radius: 50%;
}
.team_custom figcaption > hr {
  display: none;
}
.team_custom figcaption h3 {
  margin-top: 0;
  font-size: 20px;
}
.team_custom .profile-subheading {
  color: #eeeeee;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-size: 12px;
  text-transform: capitalize;
  font-style: italic;
  font-weight: 200;
  letter-spacing: 0.5px;
}
.team_custom .profile-scocial a {
  background: #fde428;
  color: #ffffff;
  display: block;
  width: 30px;
  height: 30px;
  position: relative;
}
.team_custom .profile-scocial a i {
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.team_custom .profile-scocial a:hover {
  background: #eeeeee;
}
.team_custom .profile-image + .profile-content,
.team_custom .profile-content {
  padding: 30px;
}
.team_custom.nuno-lite .profile figure {
  position: relative;
}
.team_custom.nuno-lite .profile figure .top-image {
  margin-bottom: 0;
  display: block;
}
.team_custom.nuno-lite .profile figure .top-image img {
  margin: 0 auto 0 0;
}
.team_custom.nuno-lite .profile figure figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
}
.team_custom.nuno-lite .profile figure figcaption .profile-heading {
  background: #eeeeee;
  color: #ffffff;
  padding: 10px 30px;
  letter-spacing: -0.6px;
  text-transform: uppercase;
  display: block;
}
.team_custom.petro {
  border: 1px solid #f3f3f3;
  margin-bottom: 30px;
  background-color: #fde428;
  color: #ffffff;
  border-bottom: solid 3px #fde428;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
}
@media (max-width: 480px) {
  .team_custom.petro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-flow: column wrap;
  }
}
.team_custom.petro .profile-image {
  position: relative;
}
@media (min-width: 481px) {
  .team_custom.petro .profile-image,
  .team_custom.petro .profile-image + .profile-content {
    width: 50%;
  }
}
.team_custom.petro .profile-scocial {
  background: rgba(255, 255, 255, 0.6);
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 1;
}
.team_custom.petro .profile-scocial a {
  background: transparent;
  color: #fde428;
  height: 42px;
}
.team_custom.petro .profile-scocial a:hover,
.team_custom.petro .profile-scocial a:focus {
  color: #eeeeee;
}
.team_custom.petro .profile-scocial li {
  padding-right: 15px;
}
.team_custom.petro:hover,
.team_custom.petro:focus {
  background-color: #eeeeee;
  border-bottom-color: #eeeeee;
}
.team_custom.petro:hover,
.team_custom.petro:focus,
.team_custom.petro:hover .profile-subheading,
.team_custom.petro:focus .profile-subheading {
  color: #fde428;
}
.portfolio-content .portfolio .portfolio-info {
  padding: 30px 20px;
  width: 80%;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.portfolio-content .portfolio .portfolio-info,
.portfolio-content .portfolio .portfolio-info a {
  color: #ffffff;
}
.portfolio-content .portfolio .portfolio-info .portfolio-title {
  font-size: 18px;
  margin: 0 auto 10px;
  text-transform: uppercase;
}
.portfolio-content .portfolio .portfolio-info .portfolio-term {
  font-size: 14px;
  text-transform: capitalize;
}
.portfolio-content .portfolio .image-overlay {
  padding: 20px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.portfolio-content .portfolio .image-overlay-container {
  border-width: 10px;
  border-color: #eeeeee;
  background: rgba(238, 238, 238, 0.4);
  top: unset;
  left: unset;
  position: relative;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.portfolio-content .portfolio .portfolio-image {
  background: #fde428;
}
.gum_portfolio .portfolio-filter {
  text-align: left;
}
.gum_portfolio .portfolio-filter li {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 20px;
}
.gum_portfolio .portfolio-filter li:first-child {
  padding-left: 0;
}
.gum_portfolio .portfolio-filter li:last-child {
  padding-right: 0;
}
.gum_portfolio .portfolio-filter li,
.gum_portfolio .portfolio-filter li a {
  color: #4f4f4f;
}
.gum_portfolio .portfolio-filter li > a {
  padding: 0 0 18px !important;
}
.gum_portfolio .portfolio-filter li > a:hover,
.gum_portfolio .portfolio-filter li > a:focus {
  color: #2e96db;
}
.gum_portfolio .portfolio-filter li.active a {
  color: #2e96db;
}
.layout-slide .portfolio-content .portfolio .image-overlay-container {
  background-color: rgba(34, 34, 34, 0.8);
  padding: 20px;
}
.layout-slide .portfolio-content .portfolio .image-overlay {
  -webkit-transform: translate(0, 65%);
  -ms-transform: translate(0, 65%);
  -o-transform: translate(0, 65%);
  transform: translate(0, 65%);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.layout-slide .portfolio-content .portfolio .portfolio-title {
  font-size: 16px;
  text-transform: capitalize;
  border-bottom: solid 1px #eeeeee;
}
.layout-slide .portfolio-content .portfolio .portfolio-title:after {
  content: '';
  height: 2px;
  width: 150px;
  display: block;
  margin: 7% 0 -1px;
  background: #2e96db;
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  -o-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  -o-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: -webkit-transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
  transition: transform 0.4s cubic-bezier(1, 0, 0, 1), -webkit-transform 0.4s cubic-bezier(1, 0, 0, 1);
}
.layout-slide .portfolio-content .portfolio:hover .portfolio-title:after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}
.layout-slide .portfolio-content .portfolio:hover .image-overlay {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.layout-slide .portfolio-content .portfolio .read-more-portfolio {
  text-transform: uppercase;
  color: #eeeeee;
  margin-top: 20px;
  font-weight: bold;
  display: block;
}
.layout-slide .portfolio-content .portfolio .read-more-portfolio:hover,
.layout-slide .portfolio-content .portfolio .read-more-portfolio:focus {
  text-decoration: underline;
}
.portfolio-carousel {
  margin: 60px 0;
}
.portfolio-carousel .owl-custom-pagination {
  top: 0;
  bottom: 0;
}
.portfolio-carousel .owl-custom-pagination.position-bottom {
  top: 100%;
  margin-top: 40px;
}
.portfolio-carousel .owl-custom-pagination.position-top {
  bottom: 100%;
  margin-bottom: 0;
}
.portfolio-carousel .owl-custom-pagination.position-bottom.navigation .btn-owl,
.portfolio-carousel .owl-custom-pagination.position-top.navigation .btn-owl {
  position: relative;
  display: inline-block;
}
.portfolio-carousel .owl-custom-pagination.position-bottom.navigation .btn-owl.prev,
.portfolio-carousel .owl-custom-pagination.position-top.navigation .btn-owl.prev {
  left: 0;
}
.portfolio-carousel .owl-custom-pagination.position-bottom.navigation .btn-owl.next,
.portfolio-carousel .owl-custom-pagination.position-top.navigation .btn-owl.next {
  right: 0;
}
.section-head {
  z-index: 0;
}
.section-head.heading-decoration {
  position: relative;
}
.section-head.heading-decoration .section-main-title {
  padding-top: 20px;
}
.section-head.heading-decoration .section-main-title:before {
  content: '';
  background: #fde428;
  height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  width: 50px;
}
.section-head.heading-decoration.dc-color-primary .section-main-title:before {
  background: #2e96db;
}
.section-head.heading-decoration.dc-bottom-left .section-main-title,
.section-head.heading-decoration.dc-bottom-center .section-main-title,
.section-head.heading-decoration.dc-bottom-right .section-main-title {
  padding-top: 0px;
  padding-bottom: 20px;
}
.section-head.heading-decoration.dc-top-center .section-main-title:before {
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.section-head.heading-decoration.dc-top-right .section-main-title:before {
  left: unset;
  right: 0;
}
.section-head.heading-decoration.dc-bottom-left .section-main-title:before {
  top: unset;
  bottom: 0;
}
.section-head.heading-decoration.dc-bottom-center .section-main-title:before {
  top: unset;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.section-head.heading-decoration.dc-bottom-right .section-main-title:before {
  top: unset;
  bottom: 0;
  left: unset;
  right: 0;
}
.price-block {
  border-color: #f3f3f3;
}
.price-block .price-features,
.price-block .price-description {
  font-size: 1em;
}
.price-block .price-name {
  font-size: 1.68179em;
}
.price-block .price-subtitle {
  font-size: 1.18920rem;
}
.price-block .block_periode {
  font-size: 1.68179rem;
}
.price-block .price-value {
  font-size: 4em;
}
.price-block .price-badge {
  font-size: 0.8409em;
}
.price-block .price-heading,
.price-block .price-footer {
  background-color: #fde428;
}
.price-block .price-footer .btn {
  text-transform: uppercase;
}
.price-block.popular .price-heading,
.price-block.popular .price-footer {
  background-color: #eeeeee;
}
.price-block.layout-2 {
  background: #f2f2f2;
}
.price-block.layout-2 .price-name {
  font-size: 1.68179em;
  color: #666666;
}
.price-block.layout-2 .price-value {
  font-size: 2.3784em;
}
.price-block.layout-2 .price-value .price-symbol {
  font-size: 1.18920em;
  top: -10px;
  font-weight: normal;
}
.price-block.layout-2 .price-heading {
  padding: 15px 0 5px 0;
}
.price-block.layout-2 .price-features > li {
  border-bottom-color: transparent;
}
.price-block.layout-2 .price-footer {
  padding: 40px 0 30px;
}
.price-block.layout-2.popular .price-footer {
  background: none;
}
.youtube_popup .action-panel {
  background-color: #fde428;
}
.youtube_popup .action-panel:hover,
.youtube_popup .action-panel:focus {
  background-color: #2e96db;
}
.el-form .form-inline .form-group {
  margin-bottom: 16px;
  display: table;
}
/*-----------------------------------------------------------------------------
 10.2 Unordered list
 ----------------------------------------------------------------------------*/
ul.list-info,
ul.checklist,
ul.checkbox,
ul.bull,
ul.circle {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.list-info > li:before,
ul.checklist > li:before,
ul.checkbox > li:before,
ul.bull > li:before,
ul.circle > li:before {
  color: #2e96db;
}
ul.list-info > li > i,
ul.checklist > li > i,
ul.checkbox > li > i,
ul.bull > li > i,
ul.circle > li > i {
  display: inline-block;
  margin-right: 1em;
  color: #2e96db;
}
ul.checklist li {
  margin: 1.33em 0 0.66em 2.33em;
}
ul.checklist li:before {
  font-family: FontAwesome;
  content: "\f00c";
  font-size: 1.33em;
  margin-left: -1.75em;
  margin-right: 0.75em;
}
ul.checkbox li {
  margin: 1.33em 0 0.66em 2.33em;
}
ul.checkbox li:before {
  font-family: FontAwesome;
  content: "\f096";
  font-size: 1.33em;
  margin-left: -1.75em;
  margin-right: 1em;
}
ul.bull li {
  position: relative;
  padding: 0 0 0 2.3em;
  margin: 1.33em 0 0;
}
ul.bull li:before {
  content: "\f105";
  font-family: FontAwesome;
  font-size: 1em;
  font-style: normal;
  position: absolute;
  left: 0;
  top: 0.3em;
  display: inline-block;
  vertical-align: top;
}
ul.circle li {
  position: relative;
  padding: 0.267em 0 0.267em 2.3em;
  margin: 1em 0 0;
}
ul.circle li:before {
  content: "\f10c";
  font-family: FontAwesome;
  font-size: 0.5em;
  font-style: normal;
  position: absolute;
  left: 0;
  top: 1.429em;
  display: inline-block;
  vertical-align: top;
}
ul.list-info > li {
  margin-top: 1.33em;
  position: relative;
  padding-left: 1.73em;
}
ul.list-info > li i {
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0.3333em;
}
.counto {
  opacity: 1;
  visibility: visible;
}
